In [1]:
import pandas as pd

In [2]:
df = pd.read_json('data.json')

In [3]:
df.head()

,id,namaLengkap,namaPanggilan,jurusan,tanggalLahir,linkedin,instagram,twitter,line,deskripsi,message,interests
0,a-sherwyn-fawwaz-nitisara-suthaputra,A. Sherwyn Fawwaz Nitisara Suthaputra,Sherwyn,Sistem Informasi,26/03/2005,https://www.linkedin.com/in/sheraz26,shrwyn_fns,,sherwyns2,Suka cobain hal baru seperti masuk Pacil. Butu...,Gaungkan angkatan kita!,"[Data Analyst, Music, Badminton]"
1,abby-shelley-tampubolon,Abby Shelley Tampubolon,Abby,Sistem Informasi,14/01/2005,https://www.linkedin.com/in/abby-shelley-tampu...,abbytamp,abbyciki,abbyciki,berponi sejak SD,semoga bisa lulus bareng-bareng,"[Internet of Things/Robotics (IoT), Organizati..."
2,abdul-zacky,Abdul Zacky,Zac,Sistem Informasi,29/09/2004,https://www.linkedin.com/in/abdulzacky,zacky.abd,,zackyabdul,Young and Wild,Hi semuanyaaa,[Artificial Intelligence/Machine Learning (AI/...
3,abella-maya-santi,Abella Maya Santi,Abel,Sistem Informasi,12/01/2005,www.linkedin.com/in/abellamayasanti,@abellamayas,@abella_santi,abellamsjoesni,Bring me a kaleidoscope of words and I'll buil...,Tetap berjuang hingga tiga digit pun datang,"[Golf, Business\tIntelligence (BI), Entrepreneur]"
4,abhiseka-susanto,Abhiseka Susanto,Abhi,Ilmu Komputer,06/01/2006,https://www.linkedin.com/in/abhiseka-susanto-5...,abhiseka.s,,mehabhi,doakan selamat di pacil,Semoga kita bisa sukses bareng-bareng ðŸ¤²,"[Software Engineer (SE), Web Development (WebD..."

In [4]:
df['linkedin']

0                   https://www.linkedin.com/in/sheraz26
1      https://www.linkedin.com/in/abby-shelley-tampu...
2                 https://www.linkedin.com/in/abdulzacky
3                    www.linkedin.com/in/abellamayasanti
4      https://www.linkedin.com/in/abhiseka-susanto-5...
                             ...
421    https://www.linkedin.com/in/yovan-raju-2b6564289/
422               https://www.linkedin.com/in/yudaynarif
423    www.linkedin.com/in/zakiy-makarim-iskandar-dau...
424             https://www.linkedin.com/in/zillan-ahmad
425    https://www.linkedin.com/in/zufar-romli-amri-7...
Name: linkedin, Length: 426, dtype: object

In [5]:
df['linkedin'] = df['linkedin'].str.replace(r'^(https://)?(www.)?', 'https://', regex=True).str.split('?').str[0].str.rstrip('/')

In [6]:
df['linkedin']

0                       https://linkedin.com/in/sheraz26
1      https://linkedin.com/in/abby-shelley-tampubolo...
2                     https://linkedin.com/in/abdulzacky
3                https://linkedin.com/in/abellamayasanti
4      https://linkedin.com/in/abhiseka-susanto-55588...
                             ...
421         https://linkedin.com/in/yovan-raju-2b6564289
422                   https://linkedin.com/in/yudaynarif
423    https://linkedin.com/in/zakiy-makarim-iskandar...
424                 https://linkedin.com/in/zillan-ahmad
425    https://linkedin.com/in/zufar-romli-amri-70229...
Name: linkedin, Length: 426, dtype: object

In [7]:
df['instagram']

0        shrwyn_fns
1          abbytamp
2         zacky.abd
3      @abellamayas
4        abhiseka.s
           ...
421      yovan_raju
422     yudayn.arif
423     daulayzakiy
424       zillan___
425        zufarr.a
Name: instagram, Length: 426, dtype: object

In [8]:
df['twitter']

0
1           abbyciki
2
3      @abella_santi
4
           ...
421
422
423
424            gaada
425
Name: twitter, Length: 426, dtype: object

In [9]:
df['instagram'] = df['instagram'].str.strip('@')
df['twitter'] = df['twitter'].str.strip('@')

In [10]:
df['instagram']

0       shrwyn_fns
1         abbytamp
2        zacky.abd
3      abellamayas
4       abhiseka.s
          ...
421     yovan_raju
422    yudayn.arif
423    daulayzakiy
424      zillan___
425       zufarr.a
Name: instagram, Length: 426, dtype: object

In [11]:
df['twitter']

0
1          abbyciki
2
3      abella_santi
4
           ...
421
422
423
424           gaada
425
Name: twitter, Length: 426, dtype: object

In [12]:
df.to_json('cleaned.json', orient='records')